.hero {
  margin-left: -1rem;
  margin-right: -1rem;
  margin-bottom: 1rem;
  position: relative;
  width: calc(100% + 2rem);

  img {
    height: auto;
    vertical-align: middle;
    width: 100%;
  }

  a {
    color: $darkestGray;
    text-decoration: none;
  }
}

.hero-caption {
  // color: $white;
  // position: absolute;
  // left: 1rem;
  // right: 1rem;
  // bottom: 1rem;
  // font-size: .825rem;
  // line-height: 1;
  // text-shadow: 0 0 12px transparentize(#000, .5);
  font-size: .825rem;
  color: $darkGray;
  line-height: 1;
  text-align: center;
  width: 100%;
  display: inline-block;
  padding: 0 1rem;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  display: none;
}

.hero-content {
  background-color: $white;
  box-shadow: $depthLow;
  padding: 1rem;

  h1 {
    font-size: 1.25em;
    line-height: 1.25;
    margin: 0 0 .5rem;
  }

  p {
    margin: 0 0 1rem;
  }
}

.hero-meta {
  color: $darkGray;
  font-size: .85rem;

  .icon {
    background-size: 17px;
    margin-right: .75rem;
    padding-left: 22px;
  }
}

@include media('>=sm') {
  .hero {
    margin-left: -2rem;
    margin-right: -2rem;
    margin-bottom: 2rem;
    width: calc(100% + 4rem);
  }

  .hero-content {
    padding: 1rem 2rem;
  }
}

@include media('>=lg') {
  .hero {
    height: 70vh;
    margin: 0 0 3rem;
    overflow: hidden;
    width: 100%;

    &.right img { object-position: right; }
    &.left img { object-position: left; }

    img {
      height: 100%;
      object-fit: cover;
      transition: opacity $transition;
    }

    a {
      &:hover,
      &:focus {
        img {
          opacity: .9;
        }

        .last-arrow::after {
          transform: translateX(.125rem);
        }
      }
    }
  }

  .hero-content {
    bottom: 2rem;
    font-size: .875rem;
    left: 2rem;
    max-width: 32rem;
    padding: 1rem;
    position: absolute;
    width: 50%;

    &.bottom-right {
      left: auto;
      right: 2rem;
    }

    &.top-left {
      bottom: auto;
      top: 2rem;
    }

    &.top-right {
      bottom: auto;
      left: auto;
      right: 2rem;
      top: 2rem;
    }
  }
}
