.hero {
  margin-left: -1rem;
  margin-right: -1rem;
  width: calc(100% + 2rem);

  img {
    height: auto;
    width: 100%;
  }

  a {
    color: $darkestGray;
    text-decoration: none;
  }
}

.hero-content {
  padding: 1rem;

  h1 {
    font-size: 1.25em;
    line-height: 1.25;
    margin: 0 0 .5rem;

    &::after {
      content: '';
      width: 1em;
      height: 1em;
      margin-left: .125rem;
      background-image: url('../img/arrow-right-gray.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 1em;
      display: inline-block;
      vertical-align: middle;
      transition: transform $transition;
    }
  }

  p {
    margin: 0 0 1rem;
  }
}

.hero-meta {
  color: $darkGray;
  font-size: .85rem;

  .icon {
    background-size: 17px;
    margin-right: .75rem;
    padding-left: 22px;
  }
}

@include media('>=lg') {
  .hero {
    height: 70vh;
    margin: 0;
    overflow: hidden;
    position: relative;
    width: 100%;

    img {
      height: 100%;
      object-fit: cover;
      transition: opacity $transition;
    }

    a {
      &:hover,
      &:focus {
        img {
          opacity: .9;
        }

        .hero-content h1::after {
          transform: translateX(.125rem);
        }
      }
    }
  }

  .hero-content {
    background-color: $white;
    bottom: 2rem;
    font-size: .875rem;
    left: 2rem;
    max-width: 32rem;
    position: absolute;
    width: 50%;

    &.bottom-right {
      left: auto;
      right: 2rem;
    }

    &.top-left {
      bottom: auto;
      top: 2rem;
    }

    &.top-right {
      bottom: auto;
      left: auto;
      right: 2rem;
      top: 2rem;
    }
  }
}
