.hero {
  margin-bottom: 2rem;

  a {
    text-decoration: none;
    color: $black;

    &:hover,
    &:focus {
      .hero-content {
        transform: scale(1.01);
      }

      .hero-content-frame {
        background-position: calc(100% - .75rem) calc(100% - 1rem);
      }
    }
  }
}

.hero-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  margin-left: -1rem;
  margin-right: -1rem;
  vertical-align: middle;
  width: calc(100% + 2rem);

  &::before {
    content: '';
    display: block;
    padding-bottom: 50%;
  }
}

.hero-content {
  backface-visibility: hidden;
  margin-top: -2rem;
  position: relative;
  transition: transform $transition;
  z-index: 1;
}

.hero-content-frame {
  backface-visibility: hidden;
  background-color: $white;
  background-image: url('../img/arrow-right.svg');
  background-position: calc(100% - 1rem) calc(100% - 1rem);
  background-repeat: no-repeat;
  background-size: 1rem;
  box-shadow: 0 1px 0 $lightGray;
  padding: 0 1rem 1rem;
  transition: background $transition;
}

.hero-title {
  backface-visibility: hidden;
  background-color: $white;
  display: inline-block;
  font-size: 1.5rem;
  line-height: 1;
  margin: 0 .5rem;
  padding: .5rem .5rem .25rem;
}

.hero-subtitle {
  backface-visibility: hidden;
  font-size: 18px;
  line-height: 1.25;
  margin: 0;
  padding: 0 1rem .75rem;
}

.hero-title,
.hero-subtitle {
  background-color: $white;
}

.hero-description {
  backface-visibility: hidden;
  font-size: 16px;
  margin: 0 0 1rem;
}

.hero-categories {
  backface-visibility: hidden;
  color: $darkGray;
  font-size: 14px;

  .icon {
    margin-right: .75rem;
    padding-left: 24px;
  }
}

.hero-cta {
  backface-visibility: hidden;
  color: $primary;

  &::after {
    background-image: url('../img/arrow-right.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: .8em;
    content: '';
    display: inline-block;
    height: 1em;
    margin-left: .333em;
    position: relative;
    transition: transform $transition;
    top: 3px;
    width: 1em;
  }
}

@include media('>=lg') {
  .hero {
    margin-bottom: 4rem;
    position: relative;

    a {
      &:hover,
      &:focus {
        .hero-content-frame {
          background-position: calc(100% - .75rem) calc(100% - .75rem);
        }
      }
    }
  }

  .hero-img {
    margin-left: 0;
    margin-right: 0;
    width: 70%;
  }

  .hero-content {
    position: absolute;
    bottom: 1rem;
    right: 0;
    width: 40%;
  }

  .hero-content-frame {
    background-position: calc(100% - 1rem) calc(100% - .75rem);
    padding: .75rem;
  }

  .hero-title {
    margin: 0;
    padding: .5rem .75rem .5rem;
  }

  .hero-subtitle {
    margin-top: -.5rem;
    padding: .5rem .75rem 0;
  }

  .hero-title,
  .hero-subtitle {
    margin-bottom: -2px;
  }
}

@include media('>=xl') {
  .hero-img {
    width: 75%;
  }

  .hero-content {
    bottom: 2rem;
    width: 35%;
  }
}
