.post {
  margin-bottom: 4rem;
}

.post-hero {
  margin-bottom: -1.5rem;

  img {
    height: auto;
    width: 100%;
  }
}

.post-header {
  margin-left: .5rem;
}

.post-title {
  background-color: $lightestGray;
  display: inline-block;
  margin: 0;
  padding: .25rem .5rem 0;
}

.post-meta {
  background-color: $lightestGray;
  display: block;
  padding: 0 .5rem;

  span {
    color: $darkestGray;
    display: inline-block;
    font-size: .875em;
    margin-right: .75rem;
  }
}

.post-subtitle {
  font-size: 1.25rem;
  padding: 0 .5rem;
}

.post-links {
  h2 {
    font-size: 1rem;
    margin: 0 0 .5rem;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    margin-bottom: .5rem;

    &:last-child { margin-bottom: 0; }
  }

  a {
    background-color: $white;
    background-image: url('../img/arrow-right-gray.svg');
    background-position: calc(100% - .5rem) center;
    background-repeat: no-repeat;
    background-size: 20px;
    display: inline-block;
    font-size: .875rem;
    line-height: 1;
    min-height: 40px;
    padding: 12px 40px 12px 50px;
    position: relative;
    text-decoration: none;
    transition: transform $transition, background $transition;
    width: 100%;

    &:hover,
    &:focus {
      background-position: calc(100% - .25rem) center;
      transform: scale(1.01);
    }

    &::before {
      background-color: $primary;
      background-image: url('../img/icons/link.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: 24px;
      bottom: 0;
      content: '';
      display: inline-block;
      left: 0;
      position: absolute;
      top: 0;
      width: 40px;
    }
  }
}

.post-date {
  color: $darkestGray;
  font-size: .875em;
}

.post-edited {
  display: block;
  font-size: .875em;
  font-style: italic;
}

.wp-block-image img {
  vertical-align: middle;
}

.wp-block-image figcaption,
.wp-block-embed figcaption {
  color: $darkGray;
}

.post-content {
  h2 {
    margin-top: 1.66em;
  }
}

.wp-block-quote {
  background-color: $lightGray;
  border-left: 4px solid $gray;
  margin-left: 0;
  margin-right: 0;
  padding: 1rem;

  cite,
  cite em {
    font-size: .875rem;
    font-style: normal;
  }
}


@include media('>=md') {
  .post,
  .post + .subscribe {
    margin-bottom: 6rem;
  }

  .post-container {
    align-items: flex-start;
    display: flex;
  }

  .post-links {
    flex: 1 1 35%;
    margin-right: 1rem;
  }

  .post-content {
    flex: 1 1 65%;

    p:first-child,
    p:nth-child(2) { margin-top: 0; }

    h2 {
      line-height: 1.25;
    }

    .wp-block-embed {
      margin-left: 0;
      margin-right: 0;
    }
  }
}


@include media('>=lg') {
  .post-hero {
    margin-bottom: -2.75rem;
  }

  .post-header {
    display: inline-block;
    margin: 0 10% 1rem;
    width: 80%;
  }

  .post-links {
    flex: 1 1 25%;
    margin-left: 5%;
    margin-right: 2rem;
    min-width: 25%;
  }

  .post-content {
    flex: 1 1 55%;
    font-size: 19px;
    line-height: 1.6;
    margin-right: 10%;

    .lg {
      margin-left: -4rem;
      margin-right: -4rem;
      max-width: calc(100% + 8rem);
    }
  }
}
