.simple {
  margin-bottom: 4rem;

  h1 h2, h3 {
    line-height: 1.25;
  }

  .inner {
    max-width: 36rem;
  }

  hr {
    margin-bottom: -2rem;
  }
}

.simple-title {
  line-height: 1;
}

.simple-hero {
  margin: 2rem auto 0;
  max-width: 44rem;

  img {
    height: auto;
    width: 100%;
  }
}

@include media('>=md') {
  .simple,
  .simple + .subscribe {
    margin-bottom: 6rem;
  }

  .simple-hero {
    margin-top: 5rem;
  }

  .simple {
    hr {
      margin-top: 4rem;
    }
  }
}

@include media('>=lg') {
  .simple {
    font-size: 19px;
    line-height: 1.5;
  }
}
