.social {
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
  padding: .125rem !important;

  &::before,
  &::after { display: none; }

  svg {
    fill: $darkGray;
    width: 1.25rem;
    height: 1.25rem;
    transition: fill $transition;
  }

  &-twitter {
    &:hover svg,
    &:focus svg { fill: #1DA1F2; }
  }

  &-instagram {
    &:hover svg,
    &:focus svg { fill: #E4405F; }
  }

  &-facebook {
    &:hover svg,
    &:focus svg { fill: #1877F2; }
  }

  &-linkedin {
    &:hover svg,
    &:focus svg { fill: #0077b5; }
  }

  &-pinterest {
    &:hover svg,
    &:focus svg { fill: #bd081c; }
  }

  &-rss {
    &:hover svg,
    &:focus svg { fill: #f26522; }

    svg {
      transform: scale(0.9);
    }
  }
}
