* { box-sizing: border-box; }

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  background-color: $lightestGray;
  color: $black;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  line-height: 1.4;
}

body {
  min-width: 320px;
}

.inner {
  margin: 0 auto;
  max-width: 136rem;
  padding: 0 1rem;
  width: 100%;

  &--narrow {
    max-width: 66rem;
  }

  @include media('>=sm') {
    padding: 0 2rem;
  }

  @include media('>=1600px') {
    &--narrow {
      max-width: 80rem;
    }
  }
}

.flex {
  display: flex;
}

h1, h2, h3 {
  font-family: 'Zilla', Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}

a {
  color: $primary;
}

hr {
  border-color: $gray;
  border-style: solid none none;
  border-width: 1px;
  margin: 2rem 20%;
  width: 60%;
}

.icon {
  background-image: url('../img/tag.svg');
  background-position: left center;
  background-size: 20px;
  background-repeat: no-repeat;
  padding-left: 25px;
  white-space: nowrap;

  &-location        { background-image: url('../img/location.svg'); }
  &-county          { background-image: url('../img/county.svg'); }
  &-date            { background-image: url('../img/date.svg'); }
  &-visual-arts     { background-image: url('../img/visual-arts.svg'); }
  &-performing-arts { background-image: url('../img/performing-arts.svg'); }
  &-design          { background-image: url('../img/design.svg'); }
  &-tech            { background-image: url('../img/tech.svg'); }
  &-community       { background-image: url('../img/community.svg'); }
  &-film            { background-image: url('../img/film.svg'); }
  &-art             { background-image: url('../img/art.svg'); }
  &-music           { background-image: url('../img/music.svg'); }
  &-food-drink      { background-image: url('../img/food-drink.svg'); }
  &-photography     { background-image: url('../img/photography.svg'); }
  &-writing         { background-image: url('../img/writing.svg'); }
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

@include media('>=md') {
  html {
    font-size: 17px;
  }
}

@include media('>=lg') {
  html {
    font-size: 18px;
  }
}
