input[type="text"],
input[type="email"],
input[type="url"],
select,
textarea {
  appearance: none;
  background-color: $white;
  border: 1px solid $lightishGray;
  font-family: $sans;
  font-size: 1rem;
  padding: .5rem;
  transition: border $transition;

  &:hover {
    border-color: transparentize($primary, .5);
    box-shadow: none;
  }

  &:focus {
    border-color: transparentize($primary, .25);
    box-shadow: none;
    outline: none;
  }
}

select {
  background-image: url('../img/dropdown.svg');
  background-position: calc(100% - .5rem) center;
  background-repeat: no-repeat;
  background-size: 1em;
  cursor: pointer;
  padding-right: calc(1rem + 1em);
}

input[type="submit"],
button,
.button,
.buttons a {
  background-color: $primary;
  backface-visibility: hidden;
  border: 0;
  color: $white;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  padding: .5rem 1rem;
  text-decoration: none;
  transition: transform $transition;

  &:hover {
    background-color: lighten($primary, 5%);
  }

  &:active {
    background-color: darken($primary, 5%);
  }

  &:focus {
    outline: 3px solid transparentize($primary, .75);
  }
}

.contact-form {
  max-width: 32rem;

  p:first-child {
    margin: 0 0 2rem;
  }
}


.grunion-field-wrap {
  margin-bottom: 2rem;

  &:last-child { margin-bottom: 0; }

  input,
  textarea {
    display: inline-block;
    max-width: 100%;
    min-width: 100%;
    width: 100%;
  }

  textarea {
    height: 6rem;
    min-height: 6rem;
  }
}

.grunion-field-label {
  display: block;
  font-size: .875rem;
  font-weight: bold;
  margin-bottom: .25rem;

  span {
    color: $darkGray;
    float: right;
    font-weight: normal;
  }
}

.contact-form-submission {
  margin: 0;

  p {
    margin: 0;
  }
}
